altgraph==0.17.4
cx_Freeze==7.2.3
cx_Logging==3.2.1
importlib_metadata==8.5.0
lief==0.15.1
numpy==1.26.4
packaging==24.1
pandas==2.2.3
pefile
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pymzml==2.5.10
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32-ctypes==0.2.3
regex==2024.9.11
six
tomli==2.0.2
tzdata==2024.2
zipp==3.20.2
tqdm==4.67.0
scipy
